<div class="mb-menu">
	<ul>
		<li><a href="main">Главная</a></li>
		<li><a href="form_send">Вывод средств</a></li>
		<li><a href="wallets">Кошельки</a></li>
		<li><a href="password_verify">ВАРИФИКАЦИ</a></li>
		<li><a class="no-link" href="form_send">РефералЫ</a></li>
		<li><a class="no-link" href="form_send">Услуги</a></li>
		<li><a class="no-link" href="form_send">Выйти</a></li>
	</ul>
</div>
<div class="mb-burger" id="hamburger">
	<span class="line"></span>
	<span class="line"></span>
	<span class="line"></span>
</div>
<div class="user-web-sites"><p>34</p></div>
<div class="mb-header-menu">
	<div class="img-holder">
		<%= image_tag 'land-logo.png'%>
	</div>
</div>