<div id="mb-wrapper-login">
	<div class="mb-wrap">
		<div class="mb-header">
			<div class="img-holder">
				<%= image_tag 'land-logo.png'%>
			</div>
		</div>
		<div class="mb-content">
			<form class="logining" method="post" action="http://google.com" novalidate="true">
				<div class="input-container required">
					<input required type="text" class="input-item email" name="first_name" autocomplete="off"/>
					<span class="icon_container">
						<span class="input-item-icon"></span>
					</span>
					<span class="bar">
						<span class="bar-span"></span>
					</span>
					<label>Логин / E-Mail</label>
				</div>
				<div class="input-container required">
					<input required type="password" class="input-item password" autocomplete="off"/>
					<span class="icon_container">
						<span class="input-item-icon"></span>
						<span class="show-password-icon"></span>
					</span>
					<span class="bar">
						<span class="bar-span"></span>
					</span>
					<label>Пароль</label>
				</div>
				<input type="submit" class="next" value="Войти" id="target"/>
				<a class="forgot-password" href="#">Забыли пароль?</a>
			</form>
		</div>
	</div>
	<div class="mb-background-color"></div>
</div>
