<div id="wrapper-landing-mobile">
	<div class="mb-layout">
		<div class="mb-header">
			<div class="img-holder">
				<%= image_tag 'land-logo.png'%>
			</div>
		</div>
		<div class="mb-content inner-layout">
			<div class="business">
				<p>КАК СОЗДАТЬ БИЗНЕС<br>
					<span>СВОЕЙ МЕЧТЫ</span><br>
					В ИНТЕРНЕТЕ?
				</p>
				<%= image_tag 'black-cross.png',class: 'top-left', alt: 'goto-web-cross' %>
				<%= image_tag 'orange-cross.png',class: 'top-right', alt: 'goto-web-cross' %>
				<%= image_tag 'orange-cross.png',class: 'bottom-left', alt: 'goto-web-cross' %>
			</div>
			<div class="about-project">
				<p>
					Специально разработанная пошаговая программа обучения позволит легко создать и продвигать  Вашу идею в интернете
				</p>
			</div>
		</div>
		<div class="mb-footer">
			<a href="#" class="own-room">Личный Кабинет</a>
		</div>
	</div>
	<div class="mb-background-image"></div>
	<div class="mb-background-color"></div>
</div>
