<div class="pay">
	<div class="wrap">
		<div class="title">
			<div class="left">
				<h2>Способ Оплаты</h2>
				<p>Выберите подходящий тариф для вашего будущего сайта</p>
			</div>
			<div class="right">
				<div class="price">
					<p>Тариф<span>Freedom</span></p>
					<span class="cost">$150</span>
				</div>
				<div class="btns">
					<a href="javascript:alert('Выберите способ оплаты')" class="next">Продолжить</a>
				</div>
			</div>
		</div>
		<div class="steps">
			<ul class="list">
				<li class="active">
					<span></span>
					<a href="#">Оплата</a>
				</li>
				<li>
					<span></span>
					<a href="#">Подтверждение</a>
				</li>
			</ul>
		</div>
		<div class="top">
			<h3>Платежные системы</h3>
			<div class="row">
				<!-- <div class="pay-var">
					<p>PAYEER</p>
				</div>
				<div class="pay-var">
					<p>OKPAY</p>
				</div> -->
				<div class="pay-var" onclick="document.location.href='/new_site/<%=params[:site_id]%>/<%=params[:tariff]%>/advcash'">
					<p>ADVCASH</p>
				</div>
			</div>
			<!-- <h3>Аккаунт Gotoweb</h3>
			<div class="row alt">
				<div class="pay-var">
					<p>Один Сайт<br>$ 150</p>
				</div>
				<div class="pay-var">
					<p>Бесплатная<br>Активация</p>
				</div>
				<div class="pay-var">
					<p>Баланс<br>Аккаунта</p>
				</div>
			</div> -->
		</div>
	</div>
</div>
