/* form-send-money*/

#accounts-mb-wrap {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	.mb-wrap {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		min-height: 100%;
		z-index: 100;
		margin: auto;
		padding: 70px 0 0 0;
		box-sizing: border-box;
		.mb-content {
			height: 100%;
			position: relative;
			display: block;
			text-align: center;
			.title {
				display: inline-block;
				color: #121212;
				font-family: 'Roboto', sans-serif;
				font-size: 22px;
				line-height: 22px;
				font-weight: 700;
				margin: 35px 0 0 0;
			}
		}
	}
}

#accounts-mb-wrap .mb-wrap form {
	width: 270px;
	height: 180px;
	display: block;
	position: relative;
	margin: 50px auto auto auto;
}

#accounts-mb-wrap .mb-wrap form .input-container {
	height: 55px;
	color: #758DA2;
	display: block;
	position: relative;
	margin-bottom: 16px;
	padding-left: 3px;
	cursor: text;
	font: 14px 'Roboto', sans-serif;
}
#accounts-mb-wrap .mb-wrap form .input-container input {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	font: 15px 'Roboto', sans-serif;
	box-sizing: border-box;
	outline: none;
	padding: 8px 20px 10px 0;
	text-indent: 10px;
	height: 35px;
	width: 100%;
	border-radius: 0;
	border: 2px solid #f0f2fa;
	background-color: #f8f8f8;
}

#accounts-mb-wrap .mb-wrap form .input-container label {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 12px;
	position:absolute;
	top:0;
	left: 0;
	color: #121212;
	pointer-events:none;
	text-transform: uppercase;
}

#accounts-mb-wrap .action_buttons {
	display: block;
	position: absolute;
	width: 100%;
	height: 70px;
	text-align: center;
	bottom: 0;
	z-index: 100;
	position: relative;
	height: auto;
	width: 100%;
	display: block;
}
#accounts-mb-wrap .action_buttons input[type="button"] {
	position: relative;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	height: 60px;
	line-height: 60px;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	text-align: center;
	&.next {
		background-color: #23d28a;
	};
	&.prev {
		background-color: #be4c46;
	}
}
.user-web-sites {
	position: absolute;
	display: block;
	top: 22px;
	right: 25px;
	z-index: 900;
	width: 30px;
	height: 30px;
	background-color: #23d28a;
	border-radius: 100%;
	text-align: center;
	p {
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 700;
		line-height: 30px;
	}
}


/* wallets*/
/* wallets*/

#accounts-mb-wrap .mb-wrap .mb-content {

	.balance {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		background-color: #475db5;
		box-sizing: border-box;
		padding: 20px 0 0 0;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 9px;
		font-weight: 400;
		.user-balance {
			color: #ffffff;
			font-size: 30px;
			font-weight: 500;
			line-height: 40px;
		}
		.output_mb {
			width: 80%;
			position: absolute;
			left: 10%;
			bottom: -30px;
			height: 60px;
			background-color: #23d28a;
			border: none;
			color: #ffffff;
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
			font-weight: 600;
			line-height: 60px;
			text-transform: uppercase;
		}
	}

	.wallets-items>li {
		text-align: left;
		display: block;
		position: relative;
		margin: 12px auto;
		color: #121212;
		font-weight: 300;
		width: 225px;
		height: 110px;
		border-radius: 7px;
		border: 2px solid #e4e6f0;
		padding: 20px 0 25px 75px;
		box-sizing: border-box;
		line-height: 110px;
		&:first-child {
			margin-top: 45px;
		}
		p {
			line-height: 40px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			&.total-number {
				color: #111111;
				font-size: 30px;
			}
			&.link {
				color: #575757;
				font-size: 14px;
				line-height: 18px;
				text-transform: uppercase;
			}
		}
		.step {
			position: absolute;
			display: block;
			top: calc( 50% - 17px);
			left: 22px;
			border: none;
			border-radius: 100%;
			width: 34px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			background-color: #4c63bf;
			color: #ffffff;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 700;
		}
		.link>a {
				color: #526acc;
				font-size: 13px;
				font-weight: 700;
				line-height: 16px;
				text-decoration: none;
				border: 1px solid #526acc;
				border-width: 0 0 2px 0;
				text-transform: uppercase;
			}
		&.blocked {
			border: 3px solid #eeeeee;
			background-color: #eeeeee;
			color: #636363;
			p {
				display: block;
				line-height:65px;
				color: #636363;
				font-weight: 300;
				&.link {
					display: none;
				}
			}
			.step {
				background-color: #808080;
			}
		}
	}
}

/*main*/
/*main*/
/*main*/
/*main*/
/*main*/

#accounts-mb-wrap .mb-wrap .mb-content {

	.main-account-menu li {
		text-align: left;
		display: block;
		margin: 12px auto;
		color: #121212;
		font-weight: 700;
		width: 225px;
		height: 110px;
		border-radius: 7px;
		border: 1px solid #e4e6f0;
		padding: 25px 0 25px 35px;
		box-sizing: border-box;
		&:first-child {
			margin-top: 30px;
		}
		&:last-child {
			margin-bottom: 30px;
		}
		.info-numbers {
			font-family: 'Roboto', sans-serif;
			color: #111111;
			font-size: 30px;
			font-weight: 400;
			line-height: 40px;
		}
		.info-title {
			color: #575757;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;
		}
	}
}

@media (min-height: 481px) {
	#accounts-mb-wrap {
		height: 100%;
		min-height: 100%;
		.action_buttons {
			position: fixed;
			bottom: 0;
			left: 0;
		}
		.mb-wrap {
			min-height: 100%;
			height: 100%;
		}
	}
}
