#form-send-money-wrap {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	.mb-wrap {
		height: auto;
		position: relative;
		display: block;
		width: 100%;
		z-index: 100;
		margin: auto;
		padding: 100px 0 0 0;
		box-sizing: border-box;
	};
	.android-wrap {
		// margin: auto;
		// padding: 128px 25px 60px 25px;
	};
	.mb-background-color {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 100%;
		background-color: #ffffff;
		z-index: 10;
	}
}

#form-send-money-wrap .mb-wrap .mb-content {
	height: auto;
	text-align: center;
	.title {
		display: inline-block;
		margin: auto;
		color: #121212;
		font-family: 'Roboto', sans-serif;
		font-size: 22px;
		line-height: 22px;
		font-weight: 700;
		margin: 10px 0 0 0;
	}
}

#form-send-money-wrap .mb-footer {
	display: block;
	position: absolute;
	width: 100%;
	height: 70px;
	text-align: center;
	bottom: 0;
	z-index: 100;
	a {
		text-decoration: none;
		display: block;
		margin: auto;
		width: 100%;
		height: 70px;
		line-height: 70px;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 500;
		-webkit-background-color: #526acc;
		background-color: #526acc;
	}
}

#form-send-money-wrap .mb-wrap form {
	width: 270px;
	height: auto;
	display: block;
	position: relative;
	padding: 35px 0 0 0;
	margin: auto;
}

#form-send-money-wrap .mb-wrap form .enter-value {
	font: 26px 'Roboto', sans-serif;
}
#form-send-money-wrap .mb-wrap form .enter-value-comment {
	box-sizing: border-box;
	font: 15px 'Roboto', sans-serif;
	line-height: 1;
	margin-top: 18px;
}
#form-send-money-wrap .mb-wrap form .input-container {
	height: 55px;
	color: #758DA2;
	display: block;
	position: relative;
	margin-bottom: 16px;
	padding-left: 3px;
	cursor: text;
	font: 14px 'Roboto', sans-serif;
}
#form-send-money-wrap .mb-wrap form .input-container input {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	font: 15px 'Roboto', sans-serif;
	box-sizing: border-box;
	border: none;
	background-color: inherit;
	outline: none;
	padding: 8px 20px 10px 0;
	text-indent: 10px;
	width: 100%;
	/* Style for "Rectangle" */
	height: 35px;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #f0f2fa;
	background-color: #f8f8f8;
}

#form-send-money-wrap .mb-wrap form .input-container label {
	color: #b9cad8;
	font-family: 'Roboto', sans-serif;
	position:absolute;
	pointer-events:none;
	top:0;
	left: 0;
	color: #121212;
	font-size: 14px;
	font-weight: 500;
	line-height: 12px;
	text-transform: uppercase;
}

#form-send-money-wrap .mb-footer {
	position: relative;
	margin-top: 50px;
	height: auto;
	width: 100%;
	display: block;
}

#form-send-money-wrap .mb-footer input[type="button"] {
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	display: block;
	text-align: center;
	width: 100%;
	height: 60px;
	font-family: 'Roboto', sans-serif;
	border: none;
	text-transform: uppercase;
	border-radius: 0;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	height: 60px;
	line-height: 60px;
}

#form-send-money-wrap .mb-footer input.next {
	background-color: #23d28a;
}
#form-send-money-wrap .mb-footer input.prev {
	background-color: #be4c46;
}

.user-web-sites {
	position: absolute;
	display: block;
	top: 22px;
	right: 25px;
	z-index: 900;
	width: 30px;
	height: 30px;
	background-color: #23d28a;
	border-radius: 100%;
	text-align: center;
	p {
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 700;
		line-height: 30px;
	}
}

@media (min-height: 481px) {
	#form-send-money-wrap {
		height: 100%;
		min-height: 100%;
		.mb-footer {
			position: fixed;
			bottom: 0;
			left: 0;
		}
		.mb-wrap {
			min-height: 100%;
			height: 100%;
		}
	}
}