#mb-wrapper-landing {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	.mb-wrap {
		position: relative;
		display: block;
		width: calc(100% - 180px);
		z-index: 100;
		margin: auto;
		padding: 428px 0 242px 0;
		height: 100%;
	};
	.mb-background-image {
		display: block;
		height: auto;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(background-gotoweb.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 1;
	};
	.mb-background-color {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 100%;
		background-color: #fff;
		opacity: 0.75;
		z-index: 10;

	}
}

#mb-wrapper-landing .mb-wrap .mb-header {
	width: 100%;
	height: 222px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	.img-holder {
		width: 442px;
		height: 160px;
		margin: 62px auto auto auto;
		img {
			width: inherit;
			height: auto;
		}
	}
}

.inner-wrap {
	width: 100%;
	display: block;
	margin: auto;
	position: relative;
}

#mb-wrapper-landing .mb-wrap .mb-content {
	height: auto;
	.business {
		padding: 230px 0 230px 0;
		display: block;
		position: relative;
		img {
			width: 32px;
			height: 32px;
			position: absolute;
			display: block;
		};
		img.top-left {
			top: 0;
			left: 0;
		}
		img.top-right {
			top: 0;
			right: 0;
		}
		img.bottom-left {
			bottom: 0;
			left: 0;
		}
		p {
			text-align: left;
			display: block;
			position: relative;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 4.3em;
			line-height: 1.4em;
			color: #000000;
			font-weight: 400;
			span {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 1em;
				line-height: 1.4em;
				color: #ff9000;
				font-weight: 700;
			}
		}
	}
}

#mb-wrapper-landing .mb-wrap .mb-content {
	.about-project {
		padding: 160px 0 238px 0;
		text-align: left;
		display: block;
		color: #000000;
		font-family: 'Roboto Condensed', sans-serif;
		p {
			font-size: 2.9em;
			line-height: 1.86;
			font-weight: 400;
		}
	}
}

#mb-wrapper-landing .mb-footer {
	display: block;
	position: absolute;
	width: 100%;
	height: 242px;
	text-align: center;
	bottom: 0;
	z-index: 100;
	a {
		text-decoration: none;
		display: block;
		margin: auto;
		width: 100%;
		height: 242px;
		line-height: 242px;
		color: #ffffff;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 4em;
		font-weight: 500;
		background-color: #526acc;
	}
}

/* @media (min-width: 320px) and (max-width: 650px) {
	#mb-wrapper-landing {
		.mb-wrap {
			width: 100%;
			.mb-content {
			}
		}
		.inner-wrap {
			width: 100%;
			box-sizing: border-box;
			// padding: 0 7%;
			padding: 0 3%;
		}
	}
} */