#wrapper-landing-mobile {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	.mb-layout {
		position: relative;
		display: block;
		height: auto;
		width: 640px;
		z-index: 100;
		margin: auto;
		box-sizing: border-box;
		padding: 214px 0 121px 0;
		min-height: 1039px;
	};
	.mb-background-image {
		display: block;
		height: auto;
		width: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(background-gotoweb.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 1;
	};
	.mb-background-color {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 100%;
		background-color: #fff;
		opacity: 0.75;
		z-index: 10;

	}
}

#wrapper-landing-mobile .mb-layout .mb-header {
	width: 100%;
	height: 111px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	.img-holder {
		width: 221px;
		height: 80px;
		margin: 31px auto auto auto;
		img {
			width: inherit;
			height: auto;
		}
	}
}

.inner-layout {
	width: 545px;
	display: block;
	margin: auto;
	position: relative;
}

#wrapper-landing-mobile .mb-layout .mb-content {
	height: auto;
	.business {
		padding: 115px 0 115px 0;
		width: 100%;
		height: 418px;
		display: block;
		position: relative;
		box-sizing: border-box;
		img {
			position: absolute;
			display: block;
		};
		img.top-left {
			top: 0;
			left: 0;
		}
		img.top-right {
			top: 0;
			right: 0;
		}
		img.bottom-left {
			bottom: 0;
			left: 0;
		}
		p {
			text-align: left;
			display: block;
			position: relative;
			font-family: "GothamPro";
			font-size: 2.7825em;
			line-height: 1.60816em;
			color: #000000;
			font-weight: 400;
			span {
				font-family: "GothamPro";
				font-size: 1em;
				line-height: 1.40816em;
				color: #ff9000;
				font-weight: 700;
			}
		} 
	}
}

#wrapper-landing-mobile .mb-layout .mb-content {
	.about-project {
		padding: 79px 0 119px 0;
		text-align: left;
		display: block;
		color: #000000;
		font-family: 'Roboto', sans-serif;
		p {	
			font-size: 1.75em;
			line-height: 1.86;
			font-weight: 400;
		}
	}
}

#wrapper-landing-mobile .mb-footer {
	display: block;
	position: absolute;
	width: 100%;
	height: 121px;
	text-align: center;
	bottom: 0;
	z-index: 100;
	a {
		text-decoration: none;
		display: block;
		margin: auto;
		width: 100%;
		height: 121px;
		line-height: 121px;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		font-weight: 500;
		background-color: #526acc;
	}
}

@media screen and(max-width: 650px) {
	#wrapper-landing-mobile {
		.mb-layout {
			width: 100%;
			.mb-content {
				p {
					font-size: 2.3em;
				}
			}
		}
		.inner-layout {
			width: 100%;
			box-sizing: border-box;
			padding: 0 7%; 
		}
	}
}