.mb-wrap .mb-header-menu {
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: visible;
	background-color: #526acc;
	z-index: 20;
	.img-holder {
		width: 106px;
		height: 35px;;
		margin: 15px auto auto auto;
		img {
			width: inherit;
			height: auto;
		}
	}
}

.user-web-sites {
	position: absolute;
	display: block;
	top: 22px;
	right: 25px;
	z-index: 900;
	width: 30px;
	height: 30px;
	background-color: #23d28a;
	border-radius: 100%;
	text-align: center;
	p {
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: 700;
		line-height: 30px;
	}
}

.mb-burger {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	z-index: 1000;
	padding: 22px;
}

.mb-burger .line {
	width: 23px;
	height: 3px;
	background-color: #ecf0f1;
	display: block;
	margin: 4px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.mb-burger:hover {
	cursor: pointer;
}

#hamburger.is-active .line:nth-child(1){
	-webkit-transform: translateY(7px);
	-ms-transform: translateY(7px);
	-o-transform: translateY(7px);
	transform: translateY(7px);
}

#hamburger.is-active .line:nth-child(3){
	-webkit-transform: translateY(-7px);
	-ms-transform: translateY(-7px);
	-o-transform: translateY(-7px);
	transform: translateY(-7px);
}

.mb-menu {
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	-ms-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	display: block;
	background-color: #475db5;
	z-index: 990;
	ul {
		position: absolute;
		display: block;
		left: 22px;
		top: 100px;
		li {
			/* Style for "Главная Ко" */
			width: 100%;
			font-family: 'Roboto', sans-serif;
			font-size: 22px;
			font-weight: 700;
			line-height: 52px;
			text-transform: uppercase;
			position: relative;
			a {
				text-decoration: none;
				display: inline-block;
				width: 100%;
				height: 100%;
				position: relative;
				color: #ffffff;
				z-index: 10;
			}
			a.active {
				color: #e1a82c;
			};
			a.no-link {
				pointer-events: none;
				color: #939393;
			}
			span {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				z-index: 100;
				cursor: pointer;
			}
		}
	}
}

.mb-menu.active {
	left: 0;
}

.mb-menu:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #526acc;
	height: 70px;
	width: 100%;
}