<div class="title">Вывод Средств</div>
<form method="post" action="http://google.com">
	<div class="input-container">
		<input required type="text" class="input-item" name="first_name" autocomplete="off"/>
		<label>e-mail</label>
	</div>
	<div class="input-container">
		<input required type="text" class="input-item" autocomplete="off"/>
		<label>суммА</label>
	</div>
</form>
<div class="action_buttons">
	<input type="button" class="next" value="ПРОДОЛЖИТЬ" id="target"/>
	<input type="button" class="prev" value="ОтменА" id="target"/>
</div>