<ul class="main-account-menu">
	<li><p class="info-numbers">$45,000</p><p class="info-title">БАЛАНС</p></li>
	<li><p class="info-numbers">$23,543</p><p class="info-title">НА КОШЕЛЬКАХ</p></li>
	<li><p class="info-numbers">6489</p><p class="info-title">Рефералов</p></li>
	<li><p class="info-numbers">45</p><p class="info-title">САЙТОВ</p></li>
</ul>