<div class="balance">
	<p>
		<span>$1758</span><br>
		ТЕКУЩИЙ БАЛАНС
	</p>
	<input type="button" value="Вывод" id="output_mb">
</div>
<ul>
	<li>
		<p>$23,543</p>
		<p><a href="form_send_money_mb">ПЕРЕВЕСТИ</a></p>
		<span></span>
		<div class="step">1</div>
	</li>
	<li class="blocked">
		<p>$28,78</p>
		<p><a href="form_send_money_mb">ПЕРЕВЕСТИ</a></p>
		<div class="step">2</div>
	</li>
	<li class="blocked">
		<p>$2578,0</p>
		<p><a href="form_send_money_mb">ПЕРЕВЕСТИ</a></p>
		<div class="step">3</div>
	</li>
</ul>