<div class="balance">
	<p>
		<span class="user-balance">$1758</span><br>
		ТЕКУЩИЙ БАЛАНС
	</p>
</div>
<a href="form_send" id="output_mb" class="output_mb">Вывод</a>
<ul class="wallets-items">
	<li>
		<p class="total-number">$23,543</p>
		<p class="link"><a class="no-link" href="form_send">ПЕРЕВЕСТИ</a></p>
		<span></span>
		<div class="step">1</div>
	</li>
	<li class="blocked">
		<p class="total-number">$28,78</p>
		<p class="link"><a class="no-link" href="form_send">ПЕРЕВЕСТИ</a></p>
		<div class="step">2</div>
	</li>
	<li class="blocked">
		<p class="total-number">$2578,0</p>
		<p class="link"><a class="no-link" href="form_send">ПЕРЕВЕСТИ</a></p>
		<div class="step">3</div>
	</li>
</ul>
